#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  margin: 1em;
  transition: filter 300ms ease;
}
.logo:hover {
  filter: drop-shadow(0 0 1em var(--tj-red));
}

.card {
  background: white;
  border: 2px solid var(--tj-accent);
  border-radius: 6px;
  padding: 2em;
  margin: 1.5em auto;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  text-align: left;
}

.read-the-docs {
  color: #999;
  font-style: italic;
  margin-top: 1em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.spin {
    animation: logo-spin infinite 20s linear;
  }
}
